openapi: 3.0.3
info:
  version: 1.0.0
  title: Club Event Calendar
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  contact:
    url: "https://github.com/hyecheol123"
    email: hyecheol123@gmail.com
  x-logo:
    url: "https://redocly.github.io/openapi-template/logo.png"
  description:
    $ref: description/main.md
externalDocs:
  description: GitHub repository for this API Documentation.
  url: "https://github.com/hyecheol123/Club-Event-Calendar-API-Documentation"
tags:
  - name: Auth
    description: Authentication API
  - name: Calendar
    description: API for displaying information on the calendar
  - name: Event
    description: API dealing with specific event
  - name: Participation
    description: API for participation ticket
servers:
  - url: "https://calendar.hcjang.com/api"
paths:
  # Auth APIs
  /auth/login:
    post: # Login (Other sessions will automatically logout)
      $ref: paths/auth/login/post.yaml
  /auth/logout:
    delete: # Logout
      $ref: paths/auth/logout/delete.yaml
  /auth/renew:
    get: # Renew Token
      $ref: paths/auth/renew/get.yaml
  /auth/password:
    put: # Change Password
      $ref: paths/auth/password/put.yaml
  # Calendar APIs
  /{year}-{month}:
    get: # Retrieve event list for each month
      $ref: paths/{year}-{month}/get.yaml
  # Event APIs
  /event:
    post: # Add Event
      $ref: paths/event/post.yaml
  /event/{eventID}:
    delete: # Delete Event
      $ref: paths/event/{eventID}/delete.yaml
    put: # Modify Event
      $ref: paths/event/{eventID}/put.yaml
    get: # View Event
      $ref: paths/event/{eventID}/get.yaml
  # Ticket APIs
  /event/{eventID}/participate:
    post: # Make Participation Ticket
      $ref: paths/event/{eventID}/participate/post.yaml
    get: # View Participants
      $ref: paths/event/{eventID}/participate/get.yaml
  /event/{eventID}/participate/{ticketID}:
    put: # Modify Participation Ticket
      $ref: paths/event/{eventID}/participate/{ticketID}/put.yaml
    delete: # Delete Participation Ticket
      $ref: paths/event/{eventID}/participate/{ticketID}/delete.yaml
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: cookie
      name: X-ACCESS-TOKEN
      description: |
        Access token will be used to **authenticate/authorize user to use the API**.
    refreshToken:
      type: apiKey
      in: cookie
      name: X-REFRESH-TOKEN
      description: |
        Refresh token will be used to **renew expired access token**.
        If the refresh token also expired, the user need to login again by using basic authentication.
